*{
    box-sizing: border-box;

}
body{
    padding: 0;
    margin: 0;
    background: radial-gradient( #f0e68c, #555555);
    height: 100vh;

}
.calculator-grid{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(4,75px);
    grid-template-rows: 200px repeat(4, 75px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.calculator-grid > button:not(.operands){
    font-size: 1rem;
    font-weight: normal;
    color: #f7f5eb;
    background-color: #555555;
    border: none;
}
.calculator-grid > button:hover{
    background-color: #5295ac;
}
.display-screen{
    grid-column: 1 / -1;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    font-family: "Digital-7 Mono", serif;
}
.previousValue{
    font-size: 1.5rem;
}
.currentValue{
    font-size: 3rem;
}
.operands {
    background-color: #f4e660;
    border: 0;
    font-size: 1.25rem;
}
